.dictionary {
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 120px;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 100%;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    align-items: center;
}

.headerTitle {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 48px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-align: center;
    max-width: 810px;
    color: rgba(21, 21, 21, 1);
}

.headerSubtitle {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: right;
    color: rgba(65, 65, 65, 1);
}

.dictionaryContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.dictionaryEntry {
    width: 100%;
    min-height: 23px;
    color: #151515;
    font-size: 16px;
    line-height: 150%;
}

.dictionaryEntry span {
    color: #0c48c6;
    font-weight: 500;
}

.paginationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 29px;
}

.pageControl {
    font-size: 18px;
    line-height: 26px;
    color: #a5a5a5;
    cursor: pointer;
    user-select: none;
}

.pageControl:hover {
    color: #0c48c6;
}

.pageControl.disabled {
    color: #e5e5e5;
    cursor: not-allowed;
}

.pageNumbersContainer {
    display: flex;
    gap: 2px;
}

.pageNumber {
    width: 36px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    color: #231f1e;
    cursor: pointer;
    user-select: none;
}

.pageNumber:hover {
    background-color: #f7f7f8;
}

.pageNumber.active {
    background-color: #f7f7f8;
    font-weight: 500;
}

@media (max-width: 1200px) {
    .headerTitle {
        font-size: 56px;
        line-height: 84px;
    }
}

@media (max-width: 768px) {
    .headerTitle {
        font-size: 40px;
        line-height: 60px;
    }

    .dictionaryEntry {
        font-size: 14px;
    }

    .paginationContainer {
        gap: 20px;
    }
}
