.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav.dark {
  color: #fff;
}

.container {
  max-width: 1660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 15px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  z-index: 1002;
  position: relative;
}

.links {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  color: black;
  text-decoration: none;
  font-size: 16px;
  padding: 12px;
  border-radius: 12px;
  font-weight: 500;
  transition: 0.2s ease;
  white-space: nowrap;
}

.link:hover {
  color: rgba(12, 72, 198, 1);
  background-color: rgba(247, 247, 248, 1);
}

.link.darkText {
  color: white;
}

.link.darkText:hover {
  color: rgba(12, 72, 198, 1);
}

.menuButton {
  display: none;
  min-width: 44px;
  max-width: 44px;
  z-index: 1000;
  min-height: 44px;
  max-height: 44px;
}

.menuButton.darkText {
  background-color: #f6f6f6;
}

.links.open .link.darkText {
  color: #000 !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}

.buttonProject {
  display: flex;
  margin-left: 32px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #8A6FF5;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease;
  min-width: 200px;
  white-space: nowrap;
  border-radius: 12px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.buttonProject:hover {
  background-color: #7961da;
}

.buttonProject.darkButton {
  background-color: rgba(138, 111, 245, 1);
}

.buttonProject.darkButton:hover {
  background-color: rgb(121, 96, 221);
}

.buttonProject svg {
  fill: #fff;
  transition: fill 0.2s ease;
}

.buttonProject:hover svg {
  fill: #fff;
}

.buttonProject.darkButton svg {
  fill: #fff;
}

.buttonProject.darkButton:hover svg {
  fill: #fff;
}

.designMenuItem {
  position: relative;
}

.designMenuContainer {
  position: relative;
}

.linkButton {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 8px 16px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  transition: color 0.3s ease;

  color: black;
  text-decoration: none;
  font-size: 16px;
  padding: 12px;
  border-radius: 12px;
  font-weight: 500;
  transition: 0.2s ease;
  white-space: nowrap;
}

.linkButton.darkText:hover,
.linkButton.darkText.active {
  color: #007AFF;
  background-color: #fff;
}

.linkButton svg {
  transition: transform 0.3s ease;
}

.linkButton.active svg {
  transform: rotate(180deg);
}

.dropdownMenu {
  gap: 12px;
  border-radius: 16px;
  border: 2px solid #fff;
  position: absolute;
  top: calc(100% + 16px);
  left: 0;
  transform: translateX(-50%);
  width: min(90vw, 800px);
  background: rgba(237, 240, 247, 1);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);

  display: flex;
  z-index: 1000;
}

.dropdownMenu.visible {
  height: auto;
}

.dropdownColumn {
  border-radius: 12px;
  background-color: rgba(237, 240, 247, 1);
  flex: 1;
  padding: 12px 0 12px 12px;
}

.dropdownColumn.submenu {
  margin: 12px 12px 12px 0;
  padding: 12px;
}

.dropdownColumn ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  margin: 12px;
}

.dropdownColumn ul li {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
}

.dropdownColumn ul li a {
  width: 100%;
  border-radius: 12px;
  padding: 12px;
  gap: 8px;
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  background-color: rgba(247, 247, 248, 1);
  color: rgba(47, 47, 51, 1);
}

.dropdownColumn ul li a svg {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
}

.dropdownColumn ul li a svg path {
  fill: rgba(47, 47, 51, 1);
  transition: fill 0.2s ease;
}

.dropdownColumn ul li a:hover svg path {
  fill: rgba(12, 72, 198, 1);
}

.dropdownCategory {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  justify-content: space-between;
  transition: background-color 0.3s ease;
}

.dropdownCategoryContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  max-width: 250px;
}

.dropdownCategory:hover,
.dropdownCategory.active {
  background-color: #fff;
  fill: #000;
}

.dropdownCategory svg path,
.dropdownCategory.active svg path {
  fill: #000;
}

.dropdownCategory h3 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  color: rgba(9, 15, 30, 1);
}

.dropdownCategory p {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0%;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
  color: rgba(30, 30, 30, 1);
}

.dropdownCategoryDetails {
  height: 100%;
  display: flex;
  justify-content: center;
}

.dropdownCategoryDetails p {
  height: 100%;
  display: flex;
  color: #1e1e1e;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
}

.dropdownCategoryDetails h3 {
  margin: 0 0 16px;
  font-size: 20px;
  color: #333;
}

.dropdownCategoryDetails ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdownCategoryDetails li {
  margin-bottom: 12px;
}

.dropdownCategoryDetails a {
  color: #007AFF;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.dropdownCategoryDetails a:hover {
  color: #0056b3;
}

.submenu {
  opacity: 0;
  visibility: hidden;
  transform: translateX(10px);
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
}

.submenu.visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

@media (max-width: 1550px) {
  .link.darkText.linkButton.active {
    background-color: #f6f6f6;
  }

  .links.open .designMenuContainer {
    width: 100% !important;
  }

  .buttonProject {
    margin-left: 0;
    width: 100%;
    margin-bottom: 80px !important;
  }

  .designMenuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .designMenuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menuButton {
    display: block;
    padding: 8px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .menuButton svg path {
    fill: rgba(0, 0, 0, 1);
  }

  .links {
    position: fixed;
    left: 0;
    top: 84px;
    width: 100%;
    height: 100vh;
    background: #fff;
    flex-direction: column;
    padding: 24px;
    gap: 16px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
  }

  .link {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
  }

  .links.open {
    transform: translateX(0);
  }

  .dropdownMenu {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    display: none;
    height: auto;
    box-shadow: none;
    flex-direction: column;
  }

  .dropdownMenu.visible {
    transform: none;
    display: block;
  }

  .dropdownColumn:first-child {
    border-right: none;
    border-bottom: 1px solid #eee;
  }

  .dropdownColumn:nth-child(2) {
    margin: 10px;
  }

  .dropdownColumn {
    padding: 12px;
  }

  .submenu {
    opacity: 0;
    visibility: hidden;
    height: 0;
    transform: translateX(0);
    transition: all 0.3s ease, height 0.3s ease;
  }

  .submenu.visible {
    opacity: 1;
    visibility: visible;
    height: auto;
    transform: translateX(0);
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 16px;
    height: 64px;
  }

  .links {
    height: calc(100vh - 64px);
    padding: 16px;
  }

  .links.open {
    gap: 4;
  }

  .links.open li {
    display: flex;
    width: 100%;
  }

  .dropdownCategory h3 {
    font-size: 15px;
  }

  .dropdownCategory p {
    font-size: 12px;
  }

  .dropdownCategoryDetails h3 {
    font-size: 16px;
  }

  .dropdownCategoryDetails a {
    font-size: 14px;
  }
}