.container {
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 15px;
  margin-top: 120px;
}

.article {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 16px;
}

.articleImageContainer {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 2rem;
  border-radius: 8px;
  overflow: hidden;
}

.articleImage {
  object-fit: cover;
}

.articleContent {
  max-width: 800px;
  margin: 0 auto;
}

.articleDate {
  display: block;
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.articleTitle {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
}

.articleText {
  line-height: 1.6;
}

.section {
  margin-bottom: 2rem;
}

.sectionTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.sectionText {
  color: #444;
  line-height: 1.8;
}

.notFoundText {
  color: #666;
  margin: 1rem 0;
}

.backToBlog {
  display: inline-block;
  color: #0070f3;
  text-decoration: none;
  margin-top: 1rem;
}

.backToBlog:hover {
  text-decoration: underline;
}
