.container {
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 15px;
  margin-top: 120px;
}

.jobListings {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.careerTitle {
  color: #242424;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}

.careerSection {
  position: relative;
}

.careerSubtitle {
  position: absolute;
  top: 0;
  left: 10%;
  z-index: -1;
  color: rgba(120, 120, 165, 0.02);
  font-family: 'Montserrat', sans-serif;
  font-size: 310px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.careerBlock {
  margin-top: 120px;
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between;
}

.careerBlockRight {
  width: 100%;
}

