.container {
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 15px;
  margin-top: 120px;
}

.blogContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 120px;
}

.blogTitle {
  font-size: 36px;
  color: #242424;
  margin: 0;
}

.contentContainer {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}