.container {
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 15px;
  margin-top: 120px;
}


.exampleSection {
  max-width: 1660px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.exampleHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  text-align: center;
}

.exampleTitle {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  color: #151515;
  margin: 0;
  max-width: 1122px;
}

.exampleDescription {
  font-size: 16px;
  line-height: 150%;
  color: #414141;
  max-width: 908px;
  text-align: center;
}

.exampleGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.exampleCard {
  background: #F7F7F8;
  border-radius: 20px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 280px;
}

.exampleIcon {
  width: 32px;
  height: 32px;
  color: #0C48C6;
}

.exampleContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.exampleFileName {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: #2F2F33;
}

.exampleFileSize {
  font-size: 14px;
  line-height: 20px;
  color: #A2A2A7;
}

.downloadButton {
  width: 62px;
  height: 62px;
  background: #1D35A2;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.downloadButton:hover {
  background: #0C48C6;
}

.downloadIcon {
  width: 24px;
  height: 24px;
  color: #F7F7F8;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #F7F7F8;
  border-radius: 20px;
  padding: 32px;
  width: 260px;
  position: relative;
  height: 280px;
  justify-content: space-between;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cardIcon {
  width: 32px;
  height: 32px;
  color: #3579E0;
}

.cardTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: #242424;
  margin: 0;
  text-align: left;
}

.cardSubtitle {
  text-align: left;
  font-size: 16px;
  color: #757575;
  margin: 0;
}

.cardButton {
  width: 64px;
  height: 64px;
  background-color: #3A93FE;
  border-radius: 50%;
  display: flex;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  display: flex;
  transition: background-color 0.2s ease;
  align-items: center;
  justify-content: center;
}

.cardButton:hover {
  background-color: #3579E0;
}

.cardButtonDiv {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}


@media (max-width: 1400px) {
  .exampleGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1024px) {
  .exampleGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .exampleGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .exampleTitle {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .exampleGrid {
    grid-template-columns: 1fr;
  }
}

.backgroundTextExample {
  position: absolute;
  color: rgba(120, 120, 165, 0.05);
  font-family: var(--font-montserrat), sans-serif;
  font-size: clamp(150px, 20vw, 240px);
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  position: absolute;
  top: -110px;
  left: 50%;
  transform: translateX(-50%);
}
